/* style.css */
/* fallback */
* {
  margin: 0;
  padding: 0; }

html, body {
  font: 100% "Nunito", Helvetica, Arial, cursive;
  font-weight: 400;
  font-size: 1em;
  background-color: #fff1de;
  text-align: center; }
  html h1, body h1 {
    color: #888;
    font-size: 3em;
    display: inline-block;
    border-bottom: 5px dotted white; }
  html h2, body h2 {
    color: #888;
    font-size: 3em;
    display: inline-block;
    border-bottom: 5px dotted white; }
  html h3, body h3 {
    color: #888;
    font-size: 1.5em;
    margin: .5em;
    display: inline-block;
    border-bottom: 5px dotted white; }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%; }

.wrapper {
  display: block;
  width: 100%; }

table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em; }
  table tr:first-child td {
    border-top: 0; }
  table tr:last-child td {
    border-bottom: 0; }
  table tr td {
    border: 2px solid rebeccapurple;
    height: 9em;
    width: 9em;
    cursor: pointer; }
    table tr td:first-child {
      border-left: 0; }
    table tr td:last-child {
      border-right: 0; }

.modal {
  /* hidden by default */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    background-color: #c9ef00;
    margin: auto;
    padding: .5em;
    border: 1px solid #888;
    height: auto; }
  .modal .select-symbol {
    margin: 0 auto; }
  .modal .endgame {
    text-align: center;
    margin: 0 auto; }
    .modal .endgame button {
      display: block;
      margin: 0 auto;
      padding: 20px 15px; }

button {
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #c9ef00;
  box-sizing: border-box;
  border-width: 0;
  border-style: none;
  border-color: rebeccapurple;
  border-image: initial;
  display: block; }

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 10em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-family: "Nunito", Helvetica, Arial, cursive; }

.link--x {
  text-transform: uppercase;
  overflow: hidden;
  color: #b2b0a9; }
  .link--x:hover {
    color: #b2b0a9; }
  .link--x::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #F9F9F9;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .link--x:hover::after {
    transform: translate3d(100%, 0, 0); }
  .link--x::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: rebeccapurple;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s; }
  .link--x:hover::before {
    width: 100%; }

.link--o {
  text-transform: uppercase;
  overflow: hidden;
  color: white; }
  .link--o:hover {
    color: #b2b0a9; }
  .link--o::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: white;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .link--o:hover::after {
    transform: translate3d(100%, 0, 0); }
  .link--o::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #353535;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s; }
  .link--o:hover::before {
    width: 100%; }

.link--replay {
  font-size: 2.5em;
  overflow: hidden;
  color: white; }
  .link--replay:hover {
    color: #b2b0a9; }
  .link--replay::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: white;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .link--replay:hover::after {
    transform: translate3d(110%, 0, 0); }
  .link--replay::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #353535;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s; }
  .link--replay:hover::before {
    width: 80%; }
